<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>

    <!-- Page title -->
    <title>LikeMarket | Накрутка лайков</title>

    <!-- Vendor styles -->
    <link rel="stylesheet" href="vendor\fontawesome\css\font-awesome.css">
    <link rel="stylesheet" href="vendor\animate.css\animate.css">
    <link rel="stylesheet" href="vendor\bootstrap\css\bootstrap.css">
    <link rel="stylesheet" href="vendor\select2\dist\css\select2.min.css">
    <link rel="stylesheet" href="vendor\toastr\toastr.min.css">

    <!-- App styles -->
    <link rel="stylesheet" href="styles\pe-icons\pe-icon-7-stroke.css">
    <link rel="stylesheet" href="styles\pe-icons\helper.css">
    <link rel="stylesheet" href="styles\stroke-icons\style.css">
    <link rel="stylesheet" href="styles\style.css">
</head>
<body>

<!-- Wrapper-->
<div class="wrapper">

    <!-- Header-->
     <%- include('header', {user:user}); %>
    <!-- End header-->

    <!-- Navigation-->
    <%- include('navigation', {user, page: 'addtask'}); %>
    <!-- End navigation-->


    <!-- Main content-->
    <section class="content">
        <div class="container-fluid">


            <div class="row">
                <div class="col-lg-12">
                    <div class="view-header">
                        <div class="header-icon">
                            <i class="pe page-header-icon pe-7s-note2"></i>
                        </div>
                        <div class="header-title">
                            <h3>Создать задачу</h3>
                            <small>
                                Здесь вы можете создать задачу на накрутку лайков.
                            </small>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">

                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#like" aria-expanded="true">Лайки</a></li>
                            <li class=""><a data-toggle="tab" href="#comment" aria-expanded="false">Комментарии</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="like" class="tab-pane active">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <p>Название задачи</p>
                                        <input id="task_name_like" type="text" class="form-control" placeholder="Название задачи (не обязательно)">
                                    </div>
                                        
                                    <div class="form-group">
                                        <p>Введите URL записи</p>
                                        <input id="url_like" type="text" class="form-control" placeholder="https://vk.com/wall-3223234_3423">
                                    </div>

                                    <div class="form-group">
                                        <p>Количество лайков</p>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <% if (maxLikeCount < 50) { %>
                                                    <input id="like_count" type="number" class="form-control" placeholder="[От 50] Недостаточно средств" min="0" max="0">
                                                <% } else { %>
                                                    <input id="like_count" type="number" class="form-control" placeholder="От <%= minLikeCount %> до <%= maxLikeCount %>" min="<%= minLikeCount %>" max="<%= maxLikeCount %>">
                                                <% } %>
                                            </div>
                                            <div class="col-lg-6 ml-auto" style="height: 34px; padding-top: 7px">
                                                Максимум <a><%= maxLikeCount %></a>   <small>(Учитывается ваш баланс и загруженность системы)</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="total_cost" class="form-group">
                                        <% if (maxLikeCount == 0) { %>
                                            Стоимость <mark>0.00₽</mark>
                                        <% } else { %>
                                            Стоимость <mark>0.10₽</mark>
                                        <% } %>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-6 col-md-offset-4">
                                        <a id="createLikes" class="btn btn-w-md btn-accent" style="align: center">Создать задачу</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="comment" class="tab-pane">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <p>Название задачи</p>
                                        <input id="task_name_comment" type="text" class="form-control" placeholder="Название задачи (не обязательно)">
                                    </div>

                                    <div class="form-group">
                                        <p>Введите URL записи</p>
                                        <input id="url_comment" type="text" class="form-control" placeholder="https://vk.com/wall-3223234_3423">
                                    </div>

                                    <div class="form-group">
                                        <p>Наборы комментариев</p>
                                        <select id="comments" class="form-control" multiple="multiple" style="width: 100%">
                                            <% comments.forEach(function(comment) { %>
                                                <option value="<%= comment.id %>"><%= comment.name %>
                                            <% }) %>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <p>Количество комментариев</p>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <% if (maxCommentCount < 50) { %>
                                                    <input id="comment_count" type="number" class="form-control" placeholder="[От 50] Недостаточно средств" min="0" max="0">
                                                <% } else { %>
                                                    <input id="comment_count" type="number" class="form-control" placeholder="От <%= minCommentCount %> до <%= maxCommentCount %>" min="<%= minCommentCount %>" max="<%= maxCommentCount %>">
                                                <% } %>
                                            </div>
                                            <div class="col-lg-6 ml-auto" style="height: 34px; padding-top: 7px">
                                                Максимум <a><%= maxCommentCount %></a>   <small>(Учитывается ваш баланс)</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="total_comment_cost" class="form-group">
                                        <% if (maxCommentCount == 0) { %>
                                            Стоимость <mark>0.00₽</mark>
                                        <% } else { %>
                                            Стоимость <mark>0.10₽</mark>
                                        <% } %>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-6 col-md-offset-4">
                                            <a id="createComments" class="btn btn-w-md btn-accent" style="align: center">Создать задачу</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-filled">
                        <div class="panel-heading">
                            <h4>Инструкции</h4>
                        </div>
                        <div id="info" class="panel-body">
                            <p>
                                1. Введите url на запись на стене, фотографию, видео или товар<br/>
                                Например <code>https://vk.com/wall266510818_2435</code><br/>
                                или <code>https://vk.com/id266510818?w=wall266510818_2435</code>
                            </p>
                            <p>2. Введите количество лайков для накрутки</p>
                            <p>3. Нажмите на кнопку "Создать задачу"</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End main content-->
</div>
<!-- End wrapper-->

<!-- Vendor scripts -->
<script src="vendor\pacejs\pace.min.js"></script>
<script src="vendor\jquery\dist\jquery.min.js"></script>
<script src="vendor\bootstrap\js\bootstrap.min.js"></script>
<script src="vendor\select2\dist\js\select2.js"></script>
<script src="vendor\toastr\toastr.min.js"></script>

<!-- App scripts -->
<script>
// Лимиты на лайки/комменты
const minLikeCount = <%= minLikeCount %>;
const maxLikeCount = <%= maxLikeCount %>;
const minCommentCount = <%= minCommentCount %>;
const maxCommentCount = <%= maxCommentCount %>;

// Все деньги считаются в десятых долях копейки
const likePrice    = <%= user.like_price %>;    // Цена лайка 
const commentPrice = <%= user.comment_price %>; // Цена комментария
const balance      = <%= user.balance %>;       // Баланс пользователя
</script>

<script src="scripts\luna.js"></script>
<script src="scripts\addTask.js"></script>

</body>

</html>