<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>

    <!-- Page title -->
    <title>LikeMarket | Накрутка лайков</title>

    <!-- Vendor styles -->
    <link rel="stylesheet" href="vendor\fontawesome\css\font-awesome.css">
    <link rel="stylesheet" href="vendor\animate.css\animate.css">
    <link rel="stylesheet" href="vendor\bootstrap\css\bootstrap.css">
    <link rel="stylesheet" href="vendor\select2\dist\css\select2.min.css">
    <link rel="stylesheet" href="vendor\switchery\switchery.min.css">
    <link rel="stylesheet" href="vendor\toastr\toastr.min.css">

    <!-- App styles -->
    <link rel="stylesheet" href="styles\pe-icons\pe-icon-7-stroke.css">
    <link rel="stylesheet" href="styles\pe-icons\helper.css">
    <link rel="stylesheet" href="styles\stroke-icons\style.css">
    <link rel="stylesheet" href="styles\style.css">

    <%- include('YandexMetrika'); %>
    <%- include('Chatra', { user }); %>

    <!-- Cusom style -->
    <style type="text/css">
        .btn { margin: 1px !important }
        td { vertical-align: middle !important  }
    </style>
</head>
<body>

<!-- Wrapper-->
<div class="wrapper">

    <!-- Header-->
    <%- include('header', { user }); %>
    <!-- End header-->

    <!-- Navigation-->
    <%- include('navigation', {user, page: 'posthunter'}); %>
    <!-- End navigation-->


    <!-- Main content-->
    <section class="content">
        <div class="container-fluid">


            <div class="row">
                <div class="col-lg-12">
                    <div class="view-header">
                        <div class="header-icon">
                            <i class="pe page-header-icon pe-7s-note2"></i>
                        </div>
                        <div class="header-title">
                            <h3>Постхантер</h3>
                            <small>
                                Автоматическая накрутка лайков и комментариев для новых постов
                            </small>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-filled">
                        <div class="panel-body">
                            <div id="custom_comment_info" style="font-size: 14px; color: #f6a821; padding-bottom: 10px;">
                                <i class="pe pe-7s-info"></i>
                                В данный момент постхантер работает в тестовом режиме.
                            </div>

                            <div class="table-responsive">
                            <table class="table table-striped table-hover">
            
                                <%- include('grouplist', {groups}); %>
                                
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-filled panel-collapse" id="panel">
                        <div class="panel-heading" id="panel-name">
                            Добавить группу
                        </div>
                        <div class="loader">
                            <div class="loader-spin"></div>
                        </div>
                        <div class="panel-body" id="panel-body">
                            <div class="form-group">
                                <label for="name">Название (не обязательно)</label>
                                <input type="text" class="form-control" id="name" placeholder="Будет отображаться в списке">
                            </div>
                            <div class="form-group">
                                <label for="url">Ссылка на группу</label>
                                <input type="text" class="form-control" id="url" placeholder="https://vk.com/public...">
                            </div>

                            <div class="form-group">
                                <p>Находить все посты&nbsp;&nbsp;<input type="checkbox" id="findAllPostButton"></p>
                                <div id="post-options-area">
                                    <p><i class="fa fa-ruble" style="font-size: 20px;"></i>&nbsp;&nbsp;&nbsp;Рекламные (с меткой)&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id="adsWithMarkButton"></p>
                                    <p><i class="fa pe-7s-refresh-2"style="font-size: 20px;"></i>&nbsp;&nbsp;Рекламные (без метки)&nbsp;&nbsp;<input type="checkbox" id="adsWithoutMarkButton"></p>
                                    <p><i class="fa pe-7s-news-paper"style="font-size: 20px;"></i>&nbsp;&nbsp;Контент (без ссылок)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id="onlyContentButton"></p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="min_likes">Количество лайков (выбирается случайно)</label>
                                <form class="form-inline">
                                    <div class="form-group">
                                        <label>От &nbsp;</label>
                                        <input id="min_likes" type="number" class="form-control" placeholder="Минимум <%= minLikeCount %>" min="<%= minLikeCount %>">
                                    </div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="form-group">
                                        <label>До &nbsp;</label>
                                        <input id="max_likes" type="number" class="form-control" placeholder="Максимум <%= maxLikeCount %>" max="<%= maxLikeCount %>">
                                    </div>
                                </form>
                            </div>

                            <div class="form-group">
                                <label for="min_comments">Количество комментариев (выбирается случайно)</label>
                                <form class="form-inline">
                                    <div class="form-group">
                                        <label>От &nbsp;</label>
                                        <input id="min_comments" type="number" class="form-control" placeholder="Минимум <%= minCommentCount %>" min="<%= minCommentCount %>">
                                    </div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="form-group">
                                        <label>До &nbsp;</label>
                                        <input id="max_comments" type="number" class="form-control" placeholder="Максимум <%= maxCommentCount %>" max="<%= maxCommentCount %>">
                                    </div>
                                </form>
                            </div>

                            <div class="form-group">
                                <label for="comments">Наборы комментариев</label>
                                <select id="comments" class="form-control" multiple="multiple" style="width: 100%">
                                 <% comments.forEach(function(comment) {
                                        if (comment.id == 2) { %>
                                            <option value="<%= comment.id %>" data-custom="<%= (comment.owner_id != 0) %>" selected><%= comment.name %>
                                     <% } else { %>
                                            <option value="<%= comment.id %>" data-custom="<%= (comment.owner_id != 0) %>"><%= comment.name %>
                                     <% }
                                    }) %>
                                </select>
                            </div>

                            <div id="custom_comment_info" style="font-size: 14px; color: #f6a821; padding-bottom: 10px; display: none;">
                                <i class="pe pe-7s-info"></i>
                                Для наборов клиентов используются разные алгоритмы накрутки, поэтому максимальное количество может отличаться.
                            </div>

                            <div class="form-group">
                                <p>Искать вхождение фраз&nbsp;&nbsp;<input type="checkbox" id="findEntryButton"></p>
                                <div id="entry-area" style="display: none">
                                    <textarea class="form-control" rows="2" id="entry-text" placeholder="Фразы или ссылки для поиска&#10;Каждая фраза на новой строке"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <p>Остановить после нахождения поста&nbsp;&nbsp;<input type="checkbox" id="autoStopButton"></p>
                            </div>

                            <div class="form-group">
                                <label>Время поиска (МСК)</label>
                                <form class="form-inline">
                                    <div class="form-group">
                                        <label>Начало &nbsp;</label>
                                        <input id="time_from" type="text" class="form-control" placeholder="HH:MM" value="00:00">
                                    </div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="form-group">
                                        <label>Конец &nbsp;</label>
                                        <input id="time_to" type="text" class="form-control" placeholder="HH:MM" value="23:59">
                                    </div>
                                </form>
                            </div>

                            <div id="buttons" class="btn-group pull-right">
                                <a id="add" class="btn btn-w-md btn-success pull-right">Добавить</a>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-md-6">
                    <div class="panel panel-filled">
                        <div class="panel-heading">
                            Инструкции
                        </div>
                        <div class="panel-body">
                            <p>Постхантер проверяет наличие новых постов каждые 15 секунд</p>
                            <p>
                                Время можете указать критерии для поиска поста, такие как <code>время</code>,
                                <code>тип&nbsp;поста</code>, <code>вхождение&nbsp;определенного&nbsp;текста</code>
                            </p>
                            Особенности:
                            <p>1. Время указывается в часовом поясе МСК</p>
                            <p>2. Вы можете выбрать один или больше типов постов для поиска</p>
                            <p>3. Если указаны фразы/ссылки для поиска, то ищется любое вхождение указанной фразы/ссылки в посте. Регистр не учитывается</p>
                            <br/>
                            Типы постов:<br/>
                            1. Рекламный (с меткой) - ищет специальную метку ₽ у поста<br/>
                            2. Рекламный (без метки) - ищет ссылки, внутренние ссылки и репосты<br/>
                            3. Контент - все посты за исключением двух предыдущих<br/>
                            <br/>
                            Если в течении 48 часов не найден ни один пост, подходящий под выбранные критерии, постхантер для этой группы останавливается
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End main content-->
</div>
<!-- End wrapper-->

<script type="text/javascript">
    // Максимальное число комментариев
    const maxCommentCount = <%= maxCommentCount %>;
    const maxCustomCommentCount = <%= maxCustomCommentCount %>;

    window.groups = [];
    <% groups.forEach(function(group) { %>
        window.groups[<%= group.id %>] = <%- JSON.stringify(group) %>
    <% }) %>
</script>

<!-- Vendor scripts -->
<script src="vendor\pacejs\pace.min.js"></script>
<script src="vendor\jquery\dist\jquery.min.js"></script>
<script src="vendor\bootstrap\js\bootstrap.min.js"></script>
<script src="vendor\select2\dist\js\select2.js"></script>
<script src="vendor\switchery\switchery.min.js"></script>
<script src="vendor\toastr\toastr.min.js"></script>

<!-- App scripts -->
<script src="scripts\luna.js"></script>
<script src="scripts\posthunter.js"></script>

</body>

</html>
