<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>

    <!-- Page title -->
    <title>LikeMarket | Накрутка лайков</title>

    <!-- Vendor styles -->
    <link rel="stylesheet" href="vendor\fontawesome\css\font-awesome.css">
    <link rel="stylesheet" href="vendor\animate.css\animate.css">
    <link rel="stylesheet" href="vendor\bootstrap\css\bootstrap.css">
    <link rel="stylesheet" href="vendor\toastr\toastr.min.css">

    <!-- App styles -->
    <link rel="stylesheet" href="styles\pe-icons\pe-icon-7-stroke.css">
    <link rel="stylesheet" href="styles\pe-icons\helper.css">
    <link rel="stylesheet" href="styles\stroke-icons\style.css">
    <link rel="stylesheet" href="styles\style.css">
</head>
<body>

<!-- Wrapper-->
<div class="wrapper">

    <!-- Header-->
     <%- include('header', { user }); %>
    <!-- End header-->

    <!-- Navigation-->
    <%- include('navigation', {user, page: 'profile'}); %>
    <!-- End navigation-->


    <!-- Main content-->
    <section class="content">
        <div class="container-fluid">
            

            <div class="row">
                <div class="col-lg-12">
                    <div class="view-header">
                        <div class="header-icon">
                            <i class="pe page-header-icon pe-7s-users"></i>
                        </div>
                        <div class="header-title">
                            <h3>Пользователь: <%= user.username %></h3>
                            <small>
                                Основная информация о вашем аккаунте и смена даных
                            </small>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-filled">
                        <div class="panel-heading">
                            <h4> Последняя активность</h4>
                        </div>
                        <div class="panel-body">

                            <div class="v-timeline vertical-container">
                                
                                <%- include('activitylist', {activities: activities, moment}); %>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-filled">
                        <div class="panel-heading">
                            <h4> Ваши данные </h4>
                        </div>
                        <div class="panel-body" style="padding: 30px 15px 15px 15px">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="login" class="col-sm-2 control-label">Логин</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" id="login" placeholder="<%= user.username %>" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Почта</label>
                                    <div class="col-sm-8">
                                        <input type="email" class="form-control" id="mail" placeholder="<%= (user.email.length ? user.email : 'Добавить почту') %>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-sm-2 control-label">Пароль</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" id="password" placeholder="Новый пароль">
                                    </div>
                                </div>
                                <p class="text-center">Для изменения данных введите старый пароль</p>
                                <div class="form-group">
                                    <label for="repeat" class="col-sm-2 control-label">Пароль</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" id="repeat" placeholder="Введите старый пароль">
                                    </div>
                                </div>                                
                            </form>
                        </div>
                        <div class="panel-footer">
                            <div class="text-center">
                                <a class="btn btn-w-md btn-accent" onclick="applyChange();">Изменить</a>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-filled">
                        <div class="panel-heading">
                            <h4> Выйти из аккаунта </h4>
                        </div>
                        <div class="panel-body">
                            <!-- <p>Тут можно придумать стремный текст</p> -->
                            <div class="text-center">
                                <a class="btn btn-w-md btn-accent" href="/logout">Выйти</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">

                <div class="col-md-12">
                    <div class="panel panel-filled">

                        <div class="panel-body">

                            <div class="row">
                                <div class="col-md-3 col-xs-6 text-center">
                                    <h2 class="no-margins">
                                        <%= task_count %>
                                    </h2>
                                    <span class="c-white">Задач</span> создано
                                </div>
                                <div class="col-md-3 col-xs-6 text-center">
                                    <h2 class="no-margins">
                                        <%= (money_add / 1000).toFixed(2) %>
                                    </h2>
                                    <span class="c-white">Рублей</span> пополнено
                                </div>
                                <div class="col-md-3 col-xs-6 text-center">
                                    <h2 class="no-margins">
                                        <%= like_count %>
                                    </h2>
                                    <span class="c-white">Лайков</span> накручено
                                </div>
                                <div class="col-md-3 col-xs-6 text-center">
                                    <h2 class="no-margins">
                                        <%= comment_count %>
                                    </h2>
                                    <span class="c-white">Комментариев</span> накручено
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End main content-->

</div>
<!-- End wrapper-->

<!-- Vendor scripts -->
<script src="vendor\pacejs\pace.min.js"></script>
<script src="vendor\jquery\dist\jquery.min.js"></script>
<script src="vendor\bootstrap\js\bootstrap.min.js"></script>
<script src="vendor\flot\jquery.flot.min.js"></script>
<script src="vendor\flot\jquery.flot.resize.min.js"></script>
<script src="vendor\flot\jquery.flot.spline.js"></script>
<script src="vendor\flot\jquery.flot.time.js"></script>
<script src="vendor\toastr\toastr.min.js"></script>


<!-- App scripts -->
<script src="scripts\luna.js"></script>
<script src="scripts\profile.js"></script>

</body>

</html>