<% activities.forEach(function(activity) { %>
    <div class="vertical-timeline-block">
        <div class="vertical-timeline-icon">
            <i class="fa fa-user"></i>
        </div>
        <div class="vertical-timeline-content">
            <div class="p-sm">
                <span class="vertical-date pull-right">
                    <small><%= moment(activity.create).fromNow() %></small>
                </span>

                <% switch (activity.type) {
                    case 'register' : %>
                        <h2>Регистрация на сайте</h2>
                        <p>Произведена регистрация аккаунта с IP: <a><%= activity.data %></a></p>
                        <% break;
                    case 'refill' : %>
                        <h2>Пополнение баланса</h2>
                        <p>
                            Пополнение баланса на сумму <a><%= (activity.data / 100).toFixed(2); %>₽</a>
                        </p>
                        <% break;
                    case 'auth' : %>
                        <h2>Вход</h2>
                        <p>Произведен вход в аккаунт с IP: <a><%= activity.data %></a></p>
                        <% break;
                    case 'create_task' : %>
                        <h2>Создана задача</h2>
                        <p>Создана задача <a>#<%= activity.data %></a></p>
                        <% break;
                } %>
            </div>
        </div>
    </div>
<% }) %>