<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>

    <!-- Page title -->
    <title>LikeMarket | Накрутка лайков</title>

    <!-- Vendor styles -->
    <link rel="stylesheet" href="vendor\fontawesome\css\font-awesome.css">
    <link rel="stylesheet" href="vendor\animate.css\animate.css">
    <link rel="stylesheet" href="vendor\bootstrap\css\bootstrap.css">

    <!-- App styles -->
    <link rel="stylesheet" href="styles\pe-icons\pe-icon-7-stroke.css">
    <link rel="stylesheet" href="styles\pe-icons\helper.css">
    <link rel="stylesheet" href="styles\stroke-icons\style.css">
    <link rel="stylesheet" href="styles\style.css">

    <%- include('YandexMetrika'); %>
    <%- include('Chatra', { user }); %>
</head>
<body>

<!-- Wrapper-->
<div class="wrapper">

    <!-- Header-->
    <%- include('header', { user }); %>
    <!-- End header-->

    <!-- Navigation-->
    <%- include('navigation', {user, page: 'tasks'}); %>
    <!-- End navigation-->


    <!-- Main content-->
    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <div class="view-header">
                        <div class="header-icon">
                            <i class="pe page-header-icon pe-7s-box1"></i>
                        </div>
                        <div class="header-title">
                            <h3>Задачи</h3>
                            <small>
                                Список всех задач
                            </small>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>



            <div class="row">
                <div class="col-md-12">
                    <% if (tasks != null) { %>
                        <div id="tasks_panel" class="panel">
                            <div class="loader">
                                <div class="loader-bar"></div>
                            </div>
                            <div class="panel-body" style="padding: 5px 0px 15px 0px;">
                                <div class="table-responsive">
                                    <%- include('taskslist', {tasks: tasks}); %>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="pull-left">
                                <span>Показаны задачи с <a id="from"><%= tasks_count == 0 ? 0 : 1 %></a> по <a id="to"><%= tasks_count > 10 ? 10 : tasks_count %></a> из <a><%= tasks_count %></a></span>
                            </div>

                            <div class="pull-right">
                                <ul id="pagination" class="pagination pagination-sm" style="margin: 2px 10px">
                                    <li><a onclick="changePage('prev')">Назад</a></li>
                                    <li><a onclick="changePage('next')">Вперед</a></li>
                                </ul>
                            </div>

                            <form class="form-inline pull-right">
                                <span>Задач на странице&nbsp;</span>
                                <select id="count" class="form-control">
                                    <option>10</option>
                                    <option>25</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                            </form>
                        </div>
                    <% }else { %>
                        <h3>У вас еще нет задач</h3>
                        <h5>Вы можете создать их <a href="addtask">здесь</a></h5>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
    <!-- End main content-->

</div>
<!-- End wrapper-->

<!-- Vendor scripts -->
<script src="vendor\pacejs\pace.min.js"></script>
<script src="vendor\jquery\dist\jquery.min.js"></script>
<script src="vendor\bootstrap\js\bootstrap.min.js"></script>

<script type="text/javascript">
const tasks_count = <%= tasks_count %>; // Всего тасков
let page = 1;   // Номер текущей страницы
let count = 10; // Количество тасков на странице
let max_page = Math.ceil(tasks_count / count); // Максимальная страница
</script>

<!-- App scripts -->
<script src="scripts\luna.js"></script>
<script src="scripts\tasks.js"></script>

</body>

</html>